#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9444c0b5-2f76-4db8-b5a6-489af8676b07 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}